<div class="container">
	<h2 class="text-center">フォト詳細</h2>

	<div>
		<div>
			<div class="row justify-content-center">
				<%= image_tag @photo.get_image, size: "200x200", class: "admin_menu_image" %>
			</div>
		</div>
		<table class="row justify-content-center mb-3">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>フォト名:</td>
					<td><%= @photo.name %></td>
				</tr>
			</tbody>
		</table>
		<div class="mx-auto col-3">
			<%= link_to "編集する", edit_admin_photo_path(@photo), class: "btn btn-success btn-lg btn-block" %>
		</div>
	</div>
</div>