<div class="container title">
	<h2 class="text-center pb-5">Photo 詳細</h2>

	<div class="text-center">
		<div class="row justify-content-center mb-3">
			<%= image_tag @photo.get_image, size: "200x200", class: "admin_menu_image" %>
		</div>

		<table class="row justify-content-center mb-3">
			<tbody>
				<tr>
					<td>フォト名 :</td>
					<td><%= @photo.name %></td>
				</tr>
			</tbody>
		</table>
		<div class="mx-auto col-3">
			<%= link_to "編集する", edit_admin_photo_path(@photo), class: "btn btn-success btn-lg btn-block" %>
		</div>
	</div>
</div>