<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @customer.last_name %>様</h1>
    <p>
      ご予約が完了いたしました。
    </p>
  </body>
</html>