<section class="inner">
  <h2 class="row justify-content-center mb-3">管理者トップ</h2>
  <h2 class="admin_top-txt text-center">
  	<%= link_to "予約一覧", admin_reservations_path, class: "underline" %>
  </h2>
</section>