/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.body-top {
  background-image: url("laura-chouette-8WlM9twbNJA-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
// .body- {
//   background-color: #FFEBCD;
// }

h2.section-ttl {
  text-align: center;
}

form {
  text-align: center;
}

header {
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  * {
    position: relative;
    z-index: 100;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    .logo {
      padding: 10px 20px;
      font-family: "Century";
      font-size: 20px;
      text-decoration: none;
    }
    ul {
      justify-content: flex-end;
      p {
        padding: 10px 20px 10px 10px;
      }
      li {
        list-style: none;
        a {
          display: block;
          min-width: 110px;
          padding: 10px;
          text-align: center;
          text-decoration: none;
          color: #333;
        }
      }
      li:hover {
        cursor: pointer;
        a {
          color: #fff;
        }
      }
    }
  }
}
.admin_header {
  .header-content {
    ul {
      li:hover {
        cursor: pointer;
      }
    }
    form {
      width: 510px;
      position: absolute;
      top: 43px;
      right: 0;
      display: flex;
      justify-content: space-between;
      input[name="search[content]"] {
        width: 280px;
      }
    }
  }
}

.image_field {
  width: 220px;
  text-align: center;
  p {
    margin-top: 10px;
    // text-align: left;
  }
}
.admin_photo_image {
  width: 220px;
  height: 150px;

  object-fit: cover;
}
// .photo_image {
//   display: block;
//   width: 360px;
//   height: 240px;

//   object-fit: cover;
// }
.btn-file {
  overflow: hidden;
  position: relative;
  input[type=file] {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    cursor: inherit;
    background: red;
    opacity: 0;

    filter: alpha(opacity=0);
  }
}

// table.admin_photo_info {
//   width: 400px;
//   margin-left: 20px;
//   thead {
//     tr {
//       th:first-child {
//         width: 35%;
//       }
//       th:last-child {
//         width: 65%;
//       }
//     }
//   }
// }
// table.admin_photo_info.photo_form {
//   tbody {
//     tr {
//       td {
//         vertical-align: top;
//       }
//       input,
//       textarea,
//       select {
//         width: 220px;
//       }
//     }
//   }
// }

.title {
  font-family: 'Rufina', serif;
}

.menu {
  width: 1000px;
  margin: 0 auto;
}

.menu .menuTit {
  font-size: 1.9rem;
  letter-spacing: 1px;
  border-bottom: 1px solid #111;
  position: relative;
}

.menu .menuTit .eng {
  font-family: 'Rufina', serif;
}

.ul, li {
  list-style: none;
}

.menu li {
  width: 100%;
  padding: 28px 25px;
  border-bottom: 1px solid #E6E6E6;
  display: table;
  letter-spacing: 0.5px;
}

.menu .menu li .detail .introduction {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1;
  margin: 4px 0 5px;
  letter-spacing: 0;
}

.menu li .course {
  width: 145px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
}

.menu li .price {
  width: 165px;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  font-size: 1.2rem;
}

main {
  padding: 180px 0;
}

.title {
  text-align: center;
}

footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}

// table.has_border {
//   width: 100%;
//   thead {
//     th {
//       border-width: 1px 1px 0;
//     }
//   }
//   tbody {
//     tr {
//       td {
//         vertical-align: middle;
//         border-width: 1px 1px 0;
//       }
//     }
//     tr:last-child {
//       td {
//         border-width: 1px;
//       }
//     }
//   }
// }